{% extends "muziek/base_site.html" %}
{% block title %}Pythoneer Muziek: detail{% endblock %}
{% block content %}
<br/>
<b>{{kop}}</b><br/>
{%if not nieuw%}
<div class="wide" id="selector">
    <span>
        <form action="/muziek/{{soort}}/act/{{act_id}}/" method="post">
            Snel naar een ander {% if album.label%}album{%else%}concert{%endif%} van deze artiest:
            <select name="selAlbum" id="selAlbum" onchange="form.submit()">
                <option value="0">-- selecteer titel --</option>
                {% for x in act_list %}<option value="{{x.id}}">{{x}}</option>{% endfor %}
            </select>
        </form>
    </span>
</div>
{%endif%}
{{meld}}
<hr />
<form action="/muziek/{{soort}}/{%if nieuw%}add{%else%}{{album.id}}/edit{%endif%}/" method="post">
    <div class="wide" id="album">
    {% ifequal soort "album" %}
        <span class="wide label vet">Albumgegevens:</span><br/><br/>
        <span class="left"><label class="small" for="txtLabel">Album:</label></span>
    {%else%}
        <span class="left label vet"><label class="small" for="txtLabel">Concert:</label></span>
    {%endifequal%}
        <span class="right">
            <select name="selArtiest">
                {% for act in actlist %}
                {%ifequal act.id act_id%}
                    {%if not nieuw%}
                        <option value="{{ act.id }}" selected="selected">{{ act }}</option>
                    {%else%}
                        <option value="{{ act.id }}">{{ act }}</option>
                    {%endif%}
                {%else%}
                    <option value="{{ act.id }}">{{ act }}</option>
                {%endifequal%}
                {% endfor %}
            </select>
            <input type="text" name="txtTitel" id="txtTitel" size="60" maxlength="80" value="{{album.name}}" />
        </span>
    </div>
    {% ifequal soort "album" %}
    <div class="wide" id="label">
        <span class="left"><label class="small" for="txtLabel">Label/jaar:</label></span>
        <span class="right">
            <input type="text" name="txtLabel" id="txtLabel" size="20" maxlength="80" value="{{album.label}}" />
            <input type="text" name="txtJaar" id="txtJaar" size="6" maxlength="6" value="{{album.release_year}}" />
        </span>
    </div>
    {%endifequal%}
    <div class="wide" id="producer">
        <span class="left"><label for="txtProduced">Produced by:</label></span>
        <span class="right">
            <textarea name="txtProduced" id="txtProduced" cols="80" rows="2">{{album.produced_by}}</textarea>
        </span>
    </div>
    <div class="wide" id="credits">
        <span class="left"><label for="txtCredits">Credits:</label></span>
        <span class="right">
            <textarea name="txtCredits" id="txtCredits" cols="80" rows="2">{{album.credits}}</textarea>
        </span>
    </div>
    <div class="wide" id="bezetting">
        <span class="left"><label for="txtBezetting">Bezetting:</label></span>
        <span class="right">
            <textarea name="txtBezetting" id="txtBezetting" cols="80" rows="2">{{album.bezetting}}</textarea>
        </span>
    </div>
    <div class="wide" id="extra">
        <span class="left"><label for="txtAdditional">Tevens met:</label></span>
        <span class="right">
            <textarea name="txtAdditional" id="txtAdditional" cols="80" rows="2">{{album.additional}}</textarea>
        </span>
    </div>
    <div class="wide" id="submit_album">
        <span class="all"><br/><input type="submit" value="Wijzigen" />
        <input type="button" value="Waarden terugzetten" onclick="history.go(-1)"/>
        </span>
        <span class="all" style="font-size: 10px">
            {% if not nieuw %}<br/>N.B.  "Wijzigen" geldt alleen voor de velden in het blok "Albumgegevens"{%endif%}
            <br/>"Waarden terugzetten" kan alleen zolang de knop "wijzigen" nog niet gebruikt is.
            <br/>Het komt eigenlijk op hetzelfde neer als de "back" button van de browser.
        </span>
    </div>
</form>
{% if not nieuw %}
<div class="wide" id="tracks">
    <span class="all"><hr /></span>
    <div class="wide" id="tracks_kop">
        <span class="left label vet">Tracks:</span>
        <span class="right">
            <a href="/muziek/{{soort}}/{{album.id}}/track/nieuw/"><input type="button" value="nieuwe toevoegen"/></a>
            <input type="button" value="Waarden terugzetten" onclick="history.go(-1)"/>
        </span>
        <span class="all" style="font-size: 10px">N.B. "Waarden terugzetten" geldt alleen voor de velden in het blok "Tracks" en kan alleen zolang de knop "wijzig" nog niet gebruikt is.</span>
    </div>
    {%if track_list %}
    <table id="track_list">
    {%for x in track_list%}
        <tr>
        <form class="regel" action="/muziek/{{soort}}/{{album.id}}/track/{{x.id}}/edit/" method="post">
            <td style="text-align:right">{{x.volgnr|rjust:"5"}}.</td>
            <td><input type="text" id="txtTrack{{x.volgnr}}" name="txtTrack" size="80" maxlength="200" value="{{x}}"/></td>
            <td><input type="submit" value="wijzig"/></td>
        </form>
        </tr>
    {%endfor%}
    </table>
    {%endif%}
</div>
<div class="wide" id="opnames">
    <span class="all"><hr /></span>
    <div class="wide" id="opnames_kop">
        <span class="left label vet">Opnames:</span>
        <span class="right">
            <a href="/muziek/{{soort}}/{{album.id}}/opname/nieuw/"><input type="button" value="nieuwe toevoegen"/></a>
            <input type="button" value="Waarden terugzetten" onclick="history.go(-1)"/>
        </span>
        <span class="all" style="font-size: 10px">N.B. "Waarden terugzetten" geldt alleen voor de velden in het blok "Opnames" en kan alleen zolang de knop "wijzig" nog niet gebruikt is.</span>
    </div>
    {%if opn_list %}
    <table id="opname_list">
    {%for x in opn_list%}
        <tr>
        <form class="regel" action="/muziek/{{soort}}/{{album.id}}/opname/{{x.id}}/edit/" method="post">
            <td style="text-align:right">{{forloop.counter|rjust:"5"}}.</td>
            <td><input type="text" id="txtOpn{{forloop.counter}}" name="txtOpn" size="60" maxlength="100" value="{{x}}"/></td>
            <td><input type="submit" value="wijzig"/></td>
        </form>
        </tr>
    {%endfor%}
    </table>
    {%endif%}
</div>
{% endif %}
{% endblock %}