{% extends "muziek/base_site.html" %}
{% block title %}Pythoneer Muziek: selectie{% endblock %}
{% block content %}
<br/>
<b>{{kop}}</b><br/>
<form action="/muziek/{{soort}}/select/{{keuze}}/{{sort}}/" method="post">
{% ifequal keuze "artiest"%}
    Snel naar dezelfde selectie voor een andere artiest:
    <select name="selArtiest" onchange="form.submit()">
        <option value="0">-- selecteer--</option>
        {% for act in actlist %}
        <option value="{{ act.id }}">{{ act }}</option>
        {% endfor %}
    </select>
{%else%}
{%endifequal%}
</form>
<hr/>
<div>
    <span class="all">{{meld}}</span>
    {% if sel %}
    {% for item in sel %}
    <span class="left4">&nbsp;</span>
    <span class="right4">
    <a href="/muziek/{{soort}}/{{item.id}}">
    {{item}}
    </a><br>
    </span>
    {%endfor%}
    {%endif%}
</div>
{% endblock %}