body {
font:12px/1.2 Verdana, Arial, Helvetica, sans-serif;
background:#f0e8dc;
padding:0px;
margin:10px;
}

a {
text-decoration:none;
font-weight:bold;
color:#c00;
}

pre {
font-size:11px;
color:blue;
}

.greek {
color:#999;
}

.mess {
font-weight:bold;
color:#c00;
}

label.small {
width: 50;
}
label.medium {
width: 110;
}

ol {
margin-right:40px;
}
li {
margin-bottom:10px;
}
div.wide {
width: 800px;
}
span.left {
float: left;
width: 10%;
}
span.right {
float: left;
width: 90%;
}
span.mid {
float: left;
width: 45%;
}
span.left2 {
float: left;
width: 14%;
}
span.right2 {
float: left;
width: 86%;
}
span.left3 {
float: left;
width: 18%;
}
span.right3 {
float: left;
width: 82%;
}
