body {
font:12px/1.2 Verdana, Arial, Helvetica, sans-serif;
background:#f0e8dc;
padding:0px;
margin:10px;
}

a {
text-decoration:none;
color:#c00;
}
.groot {
font-size: x-large;
}
.vet {
font-weight:bold;
}
.label {
color: orange;
}
pre {
font-size:11px;
color:blue;
}

form.regel {
display: inline;
}

.greek {
color:#999;
}

.mess {
font-weight:bold;
color:#c00;
}
label.small {
width: 50;
}
label.medium {
width: 110;
}

ol {
margin-right:40px;
}
li {
margin-bottom:10px;
}
div.wide {
width: 782px;
display: block;
}
div.box {
height: 160px;
overflow: scroll;
padding-bottom:18px;
}
.cntr {
text-align: center;
}
span.l12 {
width: 42 px;
}
span.left {
float: left;
width: 10%;
}
span.right {
float: left;
width: 90%;
}
span.mid {
float: left;
width: 45%;
}
span.mid2 {
float: left;
width: 30%;
}
span.left2 {
float: left;
width: 14%;
}
span.right2 {
float: left;
width: 86%;
}
span.left3 {
float: left;
width: 18%;
}
span.right3 {
float: left;
width: 82%;
}
span.left4 {
float: left;
width: 5%;
}
span.right4 {
float: left;
width: 95%;
}
span.left5 {
float: left;
width: 35%;
}
span.right5 {
float: left;
width: 65%;
}
